@using MvcFlashMessages

@{
    ViewBag.Title = "Calendar";
}

@Html.RenderFlash()



<div>
   <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <iframe src="https://www.google.com/calendar/embed?src=qknusl2s3m2nau74obbr804fjk%40group.calendar.google.com&ctz=Asia/Omsk" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
