@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Interview log</h1>
    <p class="lead">Interview log is the place where you can manage interviews.</p>

  @{ if (!Request.IsAuthenticated)
     {
        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
     }
  }
</div>

