@using MvcFlashMessages
@model interview_log.Models.Calendar
@{
    ViewBag.Title = "SiteSettings";
}
@Html.RenderFlash()

@using (Html.BeginForm("ChangeCalendarAddress", "Calendar"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
            Calendar Address <br /> <br />
            <input type="text" id="newAddress" name="newAddress"/>
            <br/> <br />
            <input type="submit" value="Save" class="btn btn-dark" />
    </div>

}

<br/>
Administrators: <br/>
@{
    foreach(interview_log.Models.User user in interview_log.Models.User.Admins())
    {
        string Url  ="/Users/Details/" + user.Id;
        <li><a href=@Url>@user.Email</a></li>
    }
}
<br/>
@using (Html.BeginForm("WriteCSV", "SiteSettings"))
{
    <input type="submit" value="Export CSV" class="btn btn-dark"/>
}

<br />

<form action="/SiteSettings/ReadCSV" method="post" enctype="multipart/form-data">

    <label for="file"></label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="Import CSV" class="btn btn-dark" />
</form>