@using MvcFlashMessages
@model interview_log.Models.Calendar
@{
    ViewBag.Title = "SiteSettings";
}
@Html.RenderFlash()

@using (Html.BeginForm("ChangeCalendarAddress", "Calendar"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
            Calendar Address <br /> <br />
            <input type="text" id="newAddress" name="newAddress"/>
            <br/> <br />
            <input type="submit" value="Save" class="btn btn-default" />
    </div>

}

<br/>
Administrators: <br/>
@{
    foreach(interview_log.Models.User user in interview_log.Models.User.Admins())
    {
        string Url  ="/Users/Details/" + user.Id;
        <li><a href=@Url>@user.Email</a></li>
    }
}